.purchase{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    .containerImg{
        img{
            -webkit-box-shadow: var(--checkout-shadow);
            -moz-box-shadow: var(--checkout-shadow);
            box-shadow: var(--checkout-shadow);
        }
    }
    .details{
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            .delete{
                color: var(--main-color);
                text-decoration: underline;
                font-weight: 600;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}

@media (width < 900px) {
    .purchase{
        display: block;
        img{
            width: 100%;
        }
        
    }
}