
button, 
[type='button'], 
[type='reset'], 
[type='submit']{
    border: 1px solid var(--border-buttons);   
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: var(--main-padding);
    font-size: var(--main-font-size);
    border-radius: var(--main-radius);
    font-family: 'Lexend Zetta', sans-serif;
    
    &:hover{
        background-color: var(--main-hover-color);
        cursor: pointer;

    }
    &.btn-accordion{
        background-color: transparent;
        color: #909090;
        border: 1px solid transparent;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--main-color);
        border-radius: 0px;
        padding: 5px 0;
        &:hover{
            cursor: pointer;
            color: var(--main-color);
            text-decoration: none;
        }

        &[aria-expanded="true"]{
            color: var(--main-color);
        }
            
    }
}

.actions{
    display: flex;
    justify-content: end;
}